.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/app.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/graph.json
.obsidian/plugins/extended-graph/data.json
.trash/
_weeks/
Rest/
